/* Global */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open-sans', sans-serif;
  color: #fff;
  background-color: #8BD1FF;
}

.container{
    margin: auto 2%;
}


/* HEADER */
#header{
    font-size: 12px;
    background-color: #589EF4;
    padding: 10px 0px;
}

.navbar{
    display: flex; 
    flex-direction: row;
    align-items: center;
}

#date{
    font-size: 25px;
    margin-right: auto;
}

.on{
    background-color: #fff;
    color: #256BC1;
    padding: 0px 12px;
}

.off{
    color: #256BC1;
    margin: 0px 12px;
}

.switch{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
}

/* weather */
#weather .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

#weather .row > div{
    display: flex;
    justify-content: center;
}

.weather-icon{
    font-size: 100px;
    margin-top: 40px;
}

.city{
    margin-top: 10px;
    font-size: 55px;
}

.temp{
    font-size: 50px;
}


